In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('df_contendo_valor_total_da_obra.csv')

In [9]:
df1 = df[df.rpa==1]
df2 = df[df.rpa==2]
df3 = df[df.rpa==3]
df4 = df[df.rpa==4]
df5 = df[df.rpa==5]
df6 = df[df.rpa==6]

In [25]:
writer = pd.ExcelWriter("HABITACOES_POR_RPA.xlsx", engine="xlsxwriter")

In [26]:
df1.to_excel(writer, sheet_name="RPA 1", index = False)
df2.to_excel(writer, sheet_name="RPA 2", index = False)
df3.to_excel(writer, sheet_name="RPA 3", index = False)
df4.to_excel(writer, sheet_name="RPA 4", index = False)
df5.to_excel(writer, sheet_name="RPA 5", index = False)
df6.to_excel(writer, sheet_name="RPA 6", index = False)

In [27]:
writer.close()

In [35]:
df7 = df1.copy()

In [36]:
df7 = df7[df7.index == 0]

In [37]:
df7 = df7.T.reset_index()

In [39]:
df7.to_excel('DICIONARIO_HABITACIONAIS.xlsx', index = False)

In [38]:
df7

                  index            0
0    d.cod_familiar_fam   1338785702
1    membros_domicilios            1
2                bairro  SANTO AMARO
3                   rpa            1
4                 TP-04            0
5                 TP-05            0
6                 TP-06            1
7                 TP-07            0
8                 TC-09            1
9                 TC-10            0
10                TC-12            0
11            vlr_TP_04          0.0
12            vlr_TP_05          NaN
13            vlr_TP_06       854.43
14            vlr_TP_07          NaN
15            vlr_TC_09     12094.26
16            vlr_TC_10          0.0
17            vlr_TC_12          0.0
18  vlr_final_domicilio     12948.69